<%= form_for :newschedule, url:adminnewcreateschedule_path  do |f| %>
    <p>
      <table border="1">
        <th>Maç Tarihi Saati</th><th>Ev Sahibi Takım</th><th>Konuk Takım</th>
        <tr>
          <td><%= f.datetime_select :match_day %></td>
          <td>      <%=  f.collection_select(:home_team_id , Team.all , :id, :team_name) %></td>
          <td> <%=  f.collection_select(:away_team_id , Team.all , :id, :team_name) %></td>

        </tr>
      </table>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>