<h1>Üye Güncelleme</h1>

<%= form_for @user, :url =>{:action => "update", :id =>@user} do |f| %>

    <p>Adı : <%= f.text_field 'first_name' %></p>
    <p>Soy Adı: <%= f.text_field  'last_name' %></p>
    <p>Email : <%= f.text_field 'email' %></p>
    <p>Organizasyon : <%= f.collection_select :organization_id, Organization.all, :id, :organization_name %></p>
    <p>Admin : <%=f.check_box 'is_admin' %></p>
    <%= f.submit "Kaydet" %>
<% end %>